@import url('https://fonts.googleapis.com/css?family=Quicksand');
#banner{
	min-height: 620px;
	background: url(../images/bg.jpg);
	background-size: cover;
	position: relative;
	background-attachment: scroll;
}
#nav{
	height: 80px;
	width: 100%;
	background: rgba(96,125,139,0.7);
	position: fixed;
	z-index: 999;
	transition: 0.7s;
	margin-left: -15px;
}
ul{
	list-style: none;
}
li{
	font-family: 'Quicksand', sans-serif;
	display: inline-block;
	margin-left: 0px;
	font-size: 1em;
	padding: 33px 33px 22px 33px;
	cursor: default;
	transition: color 0.3s;
	transition: padding 0.6s;
}
li:hover , .active{
	border-bottom: 5px solid #4FC3F7;
	color: #4FC3F7;
}
#search{
	font-family: 'Quicksand', sans-serif;
	width: 400px;
	height: 40px;
	border-radius: 5px 0px 0px 5px;
	border-color: transparent;
	outline: none;
	padding: 15px;
	font-size: 15px;
	display: inline-block;
}
#sbtn{
	font-family: 'Quicksand', sans-serif;
	height: 40px;
	width: 80px;
	border: none;
	border-radius: 0px 5px 5px 0px;
	background: rgba(41,182,246, 1);
}
#featured{
	min-height: 350px;
	background: url(../images/ft3.jpg);
	background-size: cover;
	background-attachment: fixed;
}
#hd{
	transition: 0.6s;
	text-transform: uppercase;
	font-size: 30px;
	padding-left: 200px;
	padding-top: 20px;
	width: 50%;
	float: left;
}
strong{
	color: #29B6F6;
}
::-webkit-scrollbar {
    width: 5px;  /* remove scrollbar space */
    background: rgba(0,0,0,0.5);
    padding: 3px;
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: rgba(0,0,0,0.4);
    border-radius: 20px 20px 20px 20px;
}
#menu{
	float: right;
	display: inline-block;
	margin-right: 20px;
}
.feat{
	padding-top: 20px;
	padding-bottom: 20px;
	min-height: 200px;
	width: 290px;
	background: rgba(240,240,240, 0.9);
	z-index: 99;
	position: relative;
}
.overlay{
	background: rgba(0,0,0,0.9);
	height: 200px;
	position: fixed;
}
#hiw{
	padding-top: 30px;
	min-height: 400px;
}
#team{
	min-height: 400px;
	background: url(../images/ft2.jpg);
	background-size: cover;
	background-attachment: fixed;
	padding-top: 30px;
	color: white
}
#res-menu-btn{
	float: right;
	font-size: 25px;
	margin-top: 15px;
	color: white;
	padding-top: 3px;
	border-radius: 5px;
	display: none;
	text-align: center;
	height: 40px;
	width: 40px;
	background: rgba(0,0,0,0.6);
}
#footer{
	bottom: 0px;
	min-height: 300px;
	background: #607D8B;
}
#loc{
	margin-top: 80px;	
}
.points{
	font-family: 'Quicksand', sans-serif;
	color: white;
	text-shadow: 3px 2px 4px #111;
	margin: 0px 30px 0px 30px;
	font-size: 20px;
	font-weight: bold;
}
.wu{
	margin-top: 3%;
	min-height: 250px;
	background: rgba(0,0,0,0.7);
}





@media screen and (max-width: 480px){
	#menu{
		display: none;
	}
	#hd{
		padding-left: 0px;
		text-align: center;
	}
	#res-menu-btn{
		display: block;
		margin-right: 20px;
	}
	#search{
		width: 250px;
	}
	#feat{
		margin-top: 30px;
	}
	.points{
	font-family: 'Quicksand', sans-serif;
	margin: 0px 10px 0px 10px;
	font-size: 14px;
	}
	#loc{
		margin-top: 40px;
	}
}
.login{
	margin-top: 100px;
	padding-bottom: 3%;
	min-height: 250px;
	background: rgba(254,254,254, 0.95);
}
.head{	
}
.head a{
	text-decoration: none;
	color: #333;
}
.inp{
	margin-top: 4%;
	width: 80%;
	height: 40px;
	background: transparent;
	outline: none;
	padding:7px;
	font-size: 1em;
	transition: width 0.3s;
	border: 1px solid #333;
}
.inp:focus{
	width: 90%;
}
.bt{
	margin-top: 3%;
	border-radius: 0%;
	width: 80%;
	height: 40px;
	outline: none;
	background: #29B6F6;
	border: none;
	transition: background 0.4s
}
.bt:hover{
	background: #29B6F6;
	border:1px solid #29B6F6;
}
.ftr-login{
	bottom: 0;
	position: fixed;
	width: 100%;
	min-height: 25px;
	background: rgba(0,0,0,0.7);
}
.viewBody{
	min-height: 500px;
}
.hostelSlider{
	margin-top: 15%;
	margin-bottom: 5%;
	min-height: 500px;
	width: 100%;
	background: rgba(240,240,240,0.6);
}
.hostelDetails{
	margin-top: 8.5%;
	min-height: 500px;
	width: 100%;
	background: rgba(240,240,240,0.6);
}
.hvr-bubble-top{
	outline: none;
}
.hv-body{
	margin-top: 80px;
}
.sld{
	margin-left: 1%;
	margin-right: 1%;
	height: 400px;
	background: #fff;
	/*background-image: url(../images/mbgirls.JPG);*/
	background-size: 100% 100%;
}
.about{
	margin-left: 1%;
	margin-right: 1%;
	min-height: 400px;
	background: #fff;	
}
.head-title{
	width: 100%;
	min-height: 60px;
	background: #546E7A;
	margin-bottom: 1%;
}
.qsand{
	font-family: 'Quicksand', sans-serif;
}
.hostel-title{
	min-height: 70px;
	background: rgba(84, 110, 122,0.8);
}
.hostel-details{
	min-height: 420px;
	background: #fff;
	margin-left: 1.8%;
	margin-right: 1.8%;
	margin-top: 4%;
}
.slider{
	margin-top: 3%;
}
.abt{
	margin-top: 3%;
}
.btn{
	border-radius: 0;
	height: 45px;
	cursor: default;
	border: none;
	outline: none;
}
.ftr{
	height: 200px;
	background: rgba(96,125,139,1);
}
.rev{
	min-height: 80px;
	background: #f3f3f3;
	margin-top: 3%;
}
.dp{
	min-height: 80px;
	margin-top: 4%;
}
textarea{
	width: 100%;
	height: 80px;
	resize: none;
	border: none;
	padding: 2%;
}