@import url('https://fonts.googleapis.com/css?family=Quicksand');
#banner{
	min-height: 500px;
	background: url(../images/web-design.jpg);
	background-size: cover;
	position: relative;
}
#nav{
	height: 80px;
	width: 100%;
	background: rgba(96,125,139,0.7);
	position: fixed;
	z-index: 999;
	transition: 0.7s;
	margin-left: -15px;
}
ul{
	list-style: none;
}
li{
	font-family: 'Quicksand', sans-serif;
	display: inline-block;
	margin-left: 0px;
	font-size: 1em;
	padding: 33px 33px 23px 33px;
	cursor: default;
	transition: color 0.3s;
	transition: padding 0.6s;
}
li:hover{
	border-bottom: 5px solid #4FC3F7;
	color: #4FC3F7;
}
#search{
	font-family: 'Quicksand', sans-serif;
	width: 400px;
	height: 40px;
	border-radius: 5px 0px 0px 5px;
	border-color: transparent;
	outline: none;
	padding: 15px;
	font-size: 15px;
	display: inline-block;
}
#sbtn{
	font-family: 'Quicksand', sans-serif;
	height: 40px;
	width: 80px;
	border: none;
	border-radius: 0px 5px 5px 0px;
	background: rgba(41,182,246, 1);
}
#featured{
	min-height: 350px;
	background: url(../images/ft3.jpg);
	background-size: cover;
	background-attachment: fixed;
}
#hd{
	transition: 0.6s;
	text-transform: uppercase;
	font-size: 30px;
	padding-left: 200px;
	padding-top: 20px;
	width: 50%;
	float: left;
}
strong{
	color: #29B6F6;
}
::-webkit-scrollbar {
    width: 5px;  /* remove scrollbar space */
    background: rgba(0,0,0,0.5);
    padding: 3px;
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: rgba(0,0,0,0.4);
    border-radius: 20px 20px 20px 20px;
}
#menu{
	float: right;
	display: inline-block;
	margin-right: 120px;
}
.feat{
	padding-top: 20px;
	height: 330px;
	width: 290px;
	background: rgba(0,0,0, 0.9);
}
#hiw{
	padding-top: 30px;
	min-height: 400px;
}
#team{
	min-height: 400px;
	background: url(../images/ft2.jpg);
	background-size: cover;
	background-attachment: fixed;
	padding-top: 30px;
	color: white
}
#res-menu-btn{
	float: right;
	font-size: 25px;
	margin-top: 15px;
	color: white;
	padding-top: 3px;
	border-radius: 5px;
	display: none;
	text-align: center;
	height: 40px;
	width: 40px;
	background: rgba(0,0,0,0.6);
}
#footer{
	min-height: 300px;
	background: #607D8B;
}
@media screen and (max-width: 480px){
	#menu{
		display: none;
	}
	#hd{
		padding-left: 0px;
		text-align: center;
	}
	#res-menu-btn{
		display: block;
		margin-right: 20px;
	}
	#search{
		width: 250px;
	}
	#feat{
		margin-top: 30px;
	}
}